
:root {
    --base: hsl(0, 88%, 45%);
    --sombra:  hsl(12, 88%, 25%);
    --thickness: 1.25rem;
    
}
* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;    
    flex-direction: column;
}

#color-div {
    /* border: 2px solid var(--base); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    position: absolute;
    top: 0;
    left: 50;
}
span {
    font-weight: bold;
    padding: 1rem;
    font-size: 4rem;
    color: #141414;
    overflow: hidden;
}

#button {
    width: 500px;
    height: 500px;
    padding: 4rem 6rem;
    border-radius: 500px;
    font-size: 5rem;
    color: white;
    background: var(--base);
    cursor: pointer;
    /* border: var(--thickness) solid var(--base); */
    border: none;
    box-shadow: 0rem var(--thickness) var(--sombra);
    font-weight: 800;
    transition:  100ms ease;
}

#button:active {
    margin-top: 3rem;
    box-shadow: none;
}

#button:focus {
    border: transparent;
}

#clipboard-button {
    cursor: pointer;
    padding: .5rem;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
}

#clipboard-button:hover {
    background-color: #cccc;
    border-radius: 2rem;
}

#color-copy-text {
    visibility: hidden;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 1rem;
    font-weight: 600;
    transition: 150ms ease;
    
}